@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0px;
    padding: 0px;  
    font-family: "Montserrat", serif;
}

header{
    background-color: #EB6652;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

nav{
  font-size: 20px;
  display: flex;
  align-items: center;
  gap:20px;
}

nav a{
    color: black;
    background-color: white;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px;
}


main{
    background-color: #EBA01E;
    height: 2000px;
}

footer{
   background-color: #EB6652;
    height: 200px;
    display: flex;
}


.products{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.item{
    height: 590px;
    width: 641px;
    background-color: #EB3F59;
    text-align: center;
   
}



.item a{
    background-color: #6E2116;
    text-decoration: none;
    padding: 10px 70px 10px 70px;
    margin: 15px;
    font-size: 24px;
    margin-left:25px ;
    margin-right:25px ;
    color: white;
    font-weight: 700;
}

.item p{
    margin: 20px;
}

.img{
    width: 950px;
    height: 250px;
}

footer img{
    width: 100px;
    height: 100px;
}

footer p{
   align-items: flex-start; 
   font-size: 24px;
   
}

h1{
    text-align: center;
    color: #EB1E3C;
    padding-top: 20px;
}

h1::before{
    content:url(image\ 7.png);
}

h1::after{
    content:url(image\ 7.png);
}


aside img{
    width: 150px;
    height: 150px;
    border-radius: 20px;

} 

aside{
    width: 270px;
    height: 250px;
    background-color: #6E2116;
    position: fixed;
    top: 250px;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
}


.item img{
    width: 488px;
    height: 437px;
    padding-top: 20px;
}

.logo{
    width: 100px;
    height: 100px;
}

